<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ky.common.dao.OrgSignDao" >
  <resultMap id="BaseResultMap" type="com.ky.common.bean.OrgSignBean" >
    <id column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="zrys" property="zrys" jdbcType="VARCHAR" />
    <result column="zhengzhuang_name" property="zhengzhuangName" jdbcType="VARCHAR" />
    <result column="zhengzhuang_url" property="zhengzhuangUrl" jdbcType="VARCHAR" />
    <result column="yibanzhuangkuang_name" property="yibanzhuangkuangName" jdbcType="VARCHAR" />
    <result column="yibanzhuangkuang_url" property="yibanzhuangkuangUrl" jdbcType="VARCHAR" />
    <result column="shenghuofangshi_name" property="shenghuofangshiName" jdbcType="VARCHAR" />
    <result column="shenghuofangshi_url" property="shenghuofangshiUrl" jdbcType="VARCHAR" />
    <result column="zangqigongneng_name" property="zangqigongnengName" jdbcType="VARCHAR" />
    <result column="zangqigongneng_url" property="zangqigongnengUrl" jdbcType="VARCHAR" />
    <result column="chati_name" property="chatiName" jdbcType="VARCHAR" />
    <result column="chati_url" property="chatiUrl" jdbcType="VARCHAR" />
    <result column="fuzhujiancha1_name" property="fuzhujiancha1Name" jdbcType="VARCHAR" />
    <result column="fuzhujiancha1_url" property="fuzhujiancha1Url" jdbcType="VARCHAR" />
    <result column="fuzhujiancha2_name" property="fuzhujiancha2Name" jdbcType="VARCHAR" />
    <result column="fuzhujiancha2_url" property="fuzhujiancha2Url" jdbcType="VARCHAR" />
    <result column="xiancunzhuyaowenti_name" property="xiancunzhuyaowentiName" jdbcType="VARCHAR" />
    <result column="xiancunzhuyaowenti_url" property="xiancunzhuyaowentiUrl" jdbcType="VARCHAR" />
    <result column="yongyao_name" property="yongyaoName" jdbcType="VARCHAR" />
    <result column="yongyao_url" property="yongyaoUrl" jdbcType="VARCHAR" />
    <result column="jiankangpingjia_name" property="jiankangpingjiaName" jdbcType="VARCHAR" />
    <result column="jiankangpingjia_url" property="jiankangpingjiaUrl" jdbcType="VARCHAR" />
    <result column="jiankangzhidao_name" property="jiankangzhidaoName" jdbcType="VARCHAR" />
    <result column="jiankangzhidao_url" property="jiankangzhidaoUrl" jdbcType="VARCHAR" />
    <result column="jieguofankui_name" property="jieguofankuiName" jdbcType="VARCHAR" />
    <result column="jieguofankui_url" property="jieguofankuiUrl" jdbcType="VARCHAR" />
    <result column="shenghuajian_name" property="shenghuajianName" jdbcType="VARCHAR" />
    <result column="shenghuajian_url" property="shenghuajianUrl" jdbcType="VARCHAR" />
    <result column="shenghuashen_name" property="shenghuashenName" jdbcType="VARCHAR" />
    <result column="shenghuashen_url" property="shenghuashenUrl" jdbcType="VARCHAR" />
    <result column="changguijian_name" property="changguijianName" jdbcType="VARCHAR" />
    <result column="changguijian_url" property="changguijianUrl" jdbcType="VARCHAR" />
    <result column="changguishen_name" property="changguishenName" jdbcType="VARCHAR" />
    <result column="changguishen_url" property="changguishenUrl" jdbcType="VARCHAR" />
    <result column="nianjian_name" property="nianjianName" jdbcType="VARCHAR" />
    <result column="niaojian_url" property="niaojianUrl" jdbcType="VARCHAR" />
    <result column="niaoshen_name" property="niaoshenName" jdbcType="VARCHAR" />
    <result column="niaoshen_url" property="niaoshenUrl" jdbcType="VARCHAR" />
    <result column="xdtqm_name" property="xdtqmName" jdbcType="VARCHAR" />
    <result column="xdtqm_url" property="xdtqmUrl" jdbcType="VARCHAR" />
    <result column="bchaoqm_name" property="bchaoqmName" jdbcType="VARCHAR" />
    <result column="bchaoqm_url" property="bchaoqmUrl" jdbcType="VARCHAR" />
    <result column="zilinengli_name" property="zilinengliName" jdbcType="VARCHAR" />
    <result column="zilinengli_url" property="zilinengliUrl" jdbcType="VARCHAR" />
    <result column="zhongyitizhi_name" property="zhongyitizhiName" jdbcType="VARCHAR" />
    <result column="zhongyitizhi_url" property="zhongyitizhiUrl" jdbcType="VARCHAR" />
    <result column="diyanshanshi_name" property="diyanshanshiName" jdbcType="VARCHAR" />
    <result column="diyanshanshi_url" property="diyanshanshiUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    org_id, name, zrys, zhengzhuang_name, zhengzhuang_url, yibanzhuangkuang_name, yibanzhuangkuang_url, 
    shenghuofangshi_name, shenghuofangshi_url, zangqigongneng_name, zangqigongneng_url, 
    chati_name, chati_url, fuzhujiancha1_name, fuzhujiancha1_url, fuzhujiancha2_name, 
    fuzhujiancha2_url, xiancunzhuyaowenti_name, xiancunzhuyaowenti_url, yongyao_name, 
    yongyao_url, jiankangpingjia_name, jiankangpingjia_url, jiankangzhidao_name, jiankangzhidao_url, 
    jieguofankui_name, jieguofankui_url, shenghuajian_name, shenghuajian_url, shenghuashen_name, 
    shenghuashen_url, changguijian_name, changguijian_url, changguishen_name, changguishen_url, 
    nianjian_name, niaojian_url, niaoshen_name, niaoshen_url, xdtqm_name, xdtqm_url, 
    bchaoqm_name, bchaoqm_url, zilinengli_name, zilinengli_url, zhongyitizhi_name, zhongyitizhi_url, 
    diyanshanshi_name, diyanshanshi_url
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from gw_danganyishengqianming
    where org_id = #{orgId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from gw_danganyishengqianming
    where org_id = #{orgId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ky.common.bean.OrgSignBean" >
    insert into gw_danganyishengqianming (org_id, name, zrys, 
      zhengzhuang_name, zhengzhuang_url, yibanzhuangkuang_name, 
      yibanzhuangkuang_url, shenghuofangshi_name, 
      shenghuofangshi_url, zangqigongneng_name, 
      zangqigongneng_url, chati_name, chati_url, 
      fuzhujiancha1_name, fuzhujiancha1_url, fuzhujiancha2_name, 
      fuzhujiancha2_url, xiancunzhuyaowenti_name, 
      xiancunzhuyaowenti_url, yongyao_name, yongyao_url, 
      jiankangpingjia_name, jiankangpingjia_url, 
      jiankangzhidao_name, jiankangzhidao_url, 
      jieguofankui_name, jieguofankui_url, shenghuajian_name, 
      shenghuajian_url, shenghuashen_name, shenghuashen_url, 
      changguijian_name, changguijian_url, changguishen_name, 
      changguishen_url, nianjian_name, niaojian_url, 
      niaoshen_name, niaoshen_url, xdtqm_name, 
      xdtqm_url, bchaoqm_name, bchaoqm_url, 
      zilinengli_name, zilinengli_url, zhongyitizhi_name, 
      zhongyitizhi_url, diyanshanshi_name, diyanshanshi_url
      )
    values (#{orgId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{zrys,jdbcType=VARCHAR}, 
      #{zhengzhuangName,jdbcType=VARCHAR}, #{zhengzhuangUrl,jdbcType=VARCHAR}, #{yibanzhuangkuangName,jdbcType=VARCHAR}, 
      #{yibanzhuangkuangUrl,jdbcType=VARCHAR}, #{shenghuofangshiName,jdbcType=VARCHAR}, 
      #{shenghuofangshiUrl,jdbcType=VARCHAR}, #{zangqigongnengName,jdbcType=VARCHAR}, 
      #{zangqigongnengUrl,jdbcType=VARCHAR}, #{chatiName,jdbcType=VARCHAR}, #{chatiUrl,jdbcType=VARCHAR}, 
      #{fuzhujiancha1Name,jdbcType=VARCHAR}, #{fuzhujiancha1Url,jdbcType=VARCHAR}, #{fuzhujiancha2Name,jdbcType=VARCHAR}, 
      #{fuzhujiancha2Url,jdbcType=VARCHAR}, #{xiancunzhuyaowentiName,jdbcType=VARCHAR}, 
      #{xiancunzhuyaowentiUrl,jdbcType=VARCHAR}, #{yongyaoName,jdbcType=VARCHAR}, #{yongyaoUrl,jdbcType=VARCHAR}, 
      #{jiankangpingjiaName,jdbcType=VARCHAR}, #{jiankangpingjiaUrl,jdbcType=VARCHAR}, 
      #{jiankangzhidaoName,jdbcType=VARCHAR}, #{jiankangzhidaoUrl,jdbcType=VARCHAR}, 
      #{jieguofankuiName,jdbcType=VARCHAR}, #{jieguofankuiUrl,jdbcType=VARCHAR}, #{shenghuajianName,jdbcType=VARCHAR}, 
      #{shenghuajianUrl,jdbcType=VARCHAR}, #{shenghuashenName,jdbcType=VARCHAR}, #{shenghuashenUrl,jdbcType=VARCHAR}, 
      #{changguijianName,jdbcType=VARCHAR}, #{changguijianUrl,jdbcType=VARCHAR}, #{changguishenName,jdbcType=VARCHAR}, 
      #{changguishenUrl,jdbcType=VARCHAR}, #{nianjianName,jdbcType=VARCHAR}, #{niaojianUrl,jdbcType=VARCHAR}, 
      #{niaoshenName,jdbcType=VARCHAR}, #{niaoshenUrl,jdbcType=VARCHAR}, #{xdtqmName,jdbcType=VARCHAR}, 
      #{xdtqmUrl,jdbcType=VARCHAR}, #{bchaoqmName,jdbcType=VARCHAR}, #{bchaoqmUrl,jdbcType=VARCHAR}, 
      #{zilinengliName,jdbcType=VARCHAR}, #{zilinengliUrl,jdbcType=VARCHAR}, #{zhongyitizhiName,jdbcType=VARCHAR}, 
      #{zhongyitizhiUrl,jdbcType=VARCHAR}, #{diyanshanshiName,jdbcType=VARCHAR}, #{diyanshanshiUrl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ky.common.bean.OrgSignBean" >
    insert into gw_danganyishengqianming
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="zrys != null" >
        zrys,
      </if>
      <if test="zhengzhuangName != null" >
        zhengzhuang_name,
      </if>
      <if test="zhengzhuangUrl != null" >
        zhengzhuang_url,
      </if>
      <if test="yibanzhuangkuangName != null" >
        yibanzhuangkuang_name,
      </if>
      <if test="yibanzhuangkuangUrl != null" >
        yibanzhuangkuang_url,
      </if>
      <if test="shenghuofangshiName != null" >
        shenghuofangshi_name,
      </if>
      <if test="shenghuofangshiUrl != null" >
        shenghuofangshi_url,
      </if>
      <if test="zangqigongnengName != null" >
        zangqigongneng_name,
      </if>
      <if test="zangqigongnengUrl != null" >
        zangqigongneng_url,
      </if>
      <if test="chatiName != null" >
        chati_name,
      </if>
      <if test="chatiUrl != null" >
        chati_url,
      </if>
      <if test="fuzhujiancha1Name != null" >
        fuzhujiancha1_name,
      </if>
      <if test="fuzhujiancha1Url != null" >
        fuzhujiancha1_url,
      </if>
      <if test="fuzhujiancha2Name != null" >
        fuzhujiancha2_name,
      </if>
      <if test="fuzhujiancha2Url != null" >
        fuzhujiancha2_url,
      </if>
      <if test="xiancunzhuyaowentiName != null" >
        xiancunzhuyaowenti_name,
      </if>
      <if test="xiancunzhuyaowentiUrl != null" >
        xiancunzhuyaowenti_url,
      </if>
      <if test="yongyaoName != null" >
        yongyao_name,
      </if>
      <if test="yongyaoUrl != null" >
        yongyao_url,
      </if>
      <if test="jiankangpingjiaName != null" >
        jiankangpingjia_name,
      </if>
      <if test="jiankangpingjiaUrl != null" >
        jiankangpingjia_url,
      </if>
      <if test="jiankangzhidaoName != null" >
        jiankangzhidao_name,
      </if>
      <if test="jiankangzhidaoUrl != null" >
        jiankangzhidao_url,
      </if>
      <if test="jieguofankuiName != null" >
        jieguofankui_name,
      </if>
      <if test="jieguofankuiUrl != null" >
        jieguofankui_url,
      </if>
      <if test="shenghuajianName != null" >
        shenghuajian_name,
      </if>
      <if test="shenghuajianUrl != null" >
        shenghuajian_url,
      </if>
      <if test="shenghuashenName != null" >
        shenghuashen_name,
      </if>
      <if test="shenghuashenUrl != null" >
        shenghuashen_url,
      </if>
      <if test="changguijianName != null" >
        changguijian_name,
      </if>
      <if test="changguijianUrl != null" >
        changguijian_url,
      </if>
      <if test="changguishenName != null" >
        changguishen_name,
      </if>
      <if test="changguishenUrl != null" >
        changguishen_url,
      </if>
      <if test="nianjianName != null" >
        nianjian_name,
      </if>
      <if test="niaojianUrl != null" >
        niaojian_url,
      </if>
      <if test="niaoshenName != null" >
        niaoshen_name,
      </if>
      <if test="niaoshenUrl != null" >
        niaoshen_url,
      </if>
      <if test="xdtqmName != null" >
        xdtqm_name,
      </if>
      <if test="xdtqmUrl != null" >
        xdtqm_url,
      </if>
      <if test="bchaoqmName != null" >
        bchaoqm_name,
      </if>
      <if test="bchaoqmUrl != null" >
        bchaoqm_url,
      </if>
      <if test="zilinengliName != null" >
        zilinengli_name,
      </if>
      <if test="zilinengliUrl != null" >
        zilinengli_url,
      </if>
      <if test="zhongyitizhiName != null" >
        zhongyitizhi_name,
      </if>
      <if test="zhongyitizhiUrl != null" >
        zhongyitizhi_url,
      </if>
      <if test="diyanshanshiName != null" >
        diyanshanshi_name,
      </if>
      <if test="diyanshanshiUrl != null" >
        diyanshanshi_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="zrys != null" >
        #{zrys,jdbcType=VARCHAR},
      </if>
      <if test="zhengzhuangName != null" >
        #{zhengzhuangName,jdbcType=VARCHAR},
      </if>
      <if test="zhengzhuangUrl != null" >
        #{zhengzhuangUrl,jdbcType=VARCHAR},
      </if>
      <if test="yibanzhuangkuangName != null" >
        #{yibanzhuangkuangName,jdbcType=VARCHAR},
      </if>
      <if test="yibanzhuangkuangUrl != null" >
        #{yibanzhuangkuangUrl,jdbcType=VARCHAR},
      </if>
      <if test="shenghuofangshiName != null" >
        #{shenghuofangshiName,jdbcType=VARCHAR},
      </if>
      <if test="shenghuofangshiUrl != null" >
        #{shenghuofangshiUrl,jdbcType=VARCHAR},
      </if>
      <if test="zangqigongnengName != null" >
        #{zangqigongnengName,jdbcType=VARCHAR},
      </if>
      <if test="zangqigongnengUrl != null" >
        #{zangqigongnengUrl,jdbcType=VARCHAR},
      </if>
      <if test="chatiName != null" >
        #{chatiName,jdbcType=VARCHAR},
      </if>
      <if test="chatiUrl != null" >
        #{chatiUrl,jdbcType=VARCHAR},
      </if>
      <if test="fuzhujiancha1Name != null" >
        #{fuzhujiancha1Name,jdbcType=VARCHAR},
      </if>
      <if test="fuzhujiancha1Url != null" >
        #{fuzhujiancha1Url,jdbcType=VARCHAR},
      </if>
      <if test="fuzhujiancha2Name != null" >
        #{fuzhujiancha2Name,jdbcType=VARCHAR},
      </if>
      <if test="fuzhujiancha2Url != null" >
        #{fuzhujiancha2Url,jdbcType=VARCHAR},
      </if>
      <if test="xiancunzhuyaowentiName != null" >
        #{xiancunzhuyaowentiName,jdbcType=VARCHAR},
      </if>
      <if test="xiancunzhuyaowentiUrl != null" >
        #{xiancunzhuyaowentiUrl,jdbcType=VARCHAR},
      </if>
      <if test="yongyaoName != null" >
        #{yongyaoName,jdbcType=VARCHAR},
      </if>
      <if test="yongyaoUrl != null" >
        #{yongyaoUrl,jdbcType=VARCHAR},
      </if>
      <if test="jiankangpingjiaName != null" >
        #{jiankangpingjiaName,jdbcType=VARCHAR},
      </if>
      <if test="jiankangpingjiaUrl != null" >
        #{jiankangpingjiaUrl,jdbcType=VARCHAR},
      </if>
      <if test="jiankangzhidaoName != null" >
        #{jiankangzhidaoName,jdbcType=VARCHAR},
      </if>
      <if test="jiankangzhidaoUrl != null" >
        #{jiankangzhidaoUrl,jdbcType=VARCHAR},
      </if>
      <if test="jieguofankuiName != null" >
        #{jieguofankuiName,jdbcType=VARCHAR},
      </if>
      <if test="jieguofankuiUrl != null" >
        #{jieguofankuiUrl,jdbcType=VARCHAR},
      </if>
      <if test="shenghuajianName != null" >
        #{shenghuajianName,jdbcType=VARCHAR},
      </if>
      <if test="shenghuajianUrl != null" >
        #{shenghuajianUrl,jdbcType=VARCHAR},
      </if>
      <if test="shenghuashenName != null" >
        #{shenghuashenName,jdbcType=VARCHAR},
      </if>
      <if test="shenghuashenUrl != null" >
        #{shenghuashenUrl,jdbcType=VARCHAR},
      </if>
      <if test="changguijianName != null" >
        #{changguijianName,jdbcType=VARCHAR},
      </if>
      <if test="changguijianUrl != null" >
        #{changguijianUrl,jdbcType=VARCHAR},
      </if>
      <if test="changguishenName != null" >
        #{changguishenName,jdbcType=VARCHAR},
      </if>
      <if test="changguishenUrl != null" >
        #{changguishenUrl,jdbcType=VARCHAR},
      </if>
      <if test="nianjianName != null" >
        #{nianjianName,jdbcType=VARCHAR},
      </if>
      <if test="niaojianUrl != null" >
        #{niaojianUrl,jdbcType=VARCHAR},
      </if>
      <if test="niaoshenName != null" >
        #{niaoshenName,jdbcType=VARCHAR},
      </if>
      <if test="niaoshenUrl != null" >
        #{niaoshenUrl,jdbcType=VARCHAR},
      </if>
      <if test="xdtqmName != null" >
        #{xdtqmName,jdbcType=VARCHAR},
      </if>
      <if test="xdtqmUrl != null" >
        #{xdtqmUrl,jdbcType=VARCHAR},
      </if>
      <if test="bchaoqmName != null" >
        #{bchaoqmName,jdbcType=VARCHAR},
      </if>
      <if test="bchaoqmUrl != null" >
        #{bchaoqmUrl,jdbcType=VARCHAR},
      </if>
      <if test="zilinengliName != null" >
        #{zilinengliName,jdbcType=VARCHAR},
      </if>
      <if test="zilinengliUrl != null" >
        #{zilinengliUrl,jdbcType=VARCHAR},
      </if>
      <if test="zhongyitizhiName != null" >
        #{zhongyitizhiName,jdbcType=VARCHAR},
      </if>
      <if test="zhongyitizhiUrl != null" >
        #{zhongyitizhiUrl,jdbcType=VARCHAR},
      </if>
      <if test="diyanshanshiName != null" >
        #{diyanshanshiName,jdbcType=VARCHAR},
      </if>
      <if test="diyanshanshiUrl != null" >
        #{diyanshanshiUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ky.common.bean.OrgSignBean" >
    update gw_danganyishengqianming
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="zrys != null" >
        zrys = #{zrys,jdbcType=VARCHAR},
      </if>
      <if test="zhengzhuangName != null" >
        zhengzhuang_name = #{zhengzhuangName,jdbcType=VARCHAR},
      </if>
      <if test="zhengzhuangUrl != null" >
        zhengzhuang_url = #{zhengzhuangUrl,jdbcType=VARCHAR},
      </if>
      <if test="yibanzhuangkuangName != null" >
        yibanzhuangkuang_name = #{yibanzhuangkuangName,jdbcType=VARCHAR},
      </if>
      <if test="yibanzhuangkuangUrl != null" >
        yibanzhuangkuang_url = #{yibanzhuangkuangUrl,jdbcType=VARCHAR},
      </if>
      <if test="shenghuofangshiName != null" >
        shenghuofangshi_name = #{shenghuofangshiName,jdbcType=VARCHAR},
      </if>
      <if test="shenghuofangshiUrl != null" >
        shenghuofangshi_url = #{shenghuofangshiUrl,jdbcType=VARCHAR},
      </if>
      <if test="zangqigongnengName != null" >
        zangqigongneng_name = #{zangqigongnengName,jdbcType=VARCHAR},
      </if>
      <if test="zangqigongnengUrl != null" >
        zangqigongneng_url = #{zangqigongnengUrl,jdbcType=VARCHAR},
      </if>
      <if test="chatiName != null" >
        chati_name = #{chatiName,jdbcType=VARCHAR},
      </if>
      <if test="chatiUrl != null" >
        chati_url = #{chatiUrl,jdbcType=VARCHAR},
      </if>
      <if test="fuzhujiancha1Name != null" >
        fuzhujiancha1_name = #{fuzhujiancha1Name,jdbcType=VARCHAR},
      </if>
      <if test="fuzhujiancha1Url != null" >
        fuzhujiancha1_url = #{fuzhujiancha1Url,jdbcType=VARCHAR},
      </if>
      <if test="fuzhujiancha2Name != null" >
        fuzhujiancha2_name = #{fuzhujiancha2Name,jdbcType=VARCHAR},
      </if>
      <if test="fuzhujiancha2Url != null" >
        fuzhujiancha2_url = #{fuzhujiancha2Url,jdbcType=VARCHAR},
      </if>
      <if test="xiancunzhuyaowentiName != null" >
        xiancunzhuyaowenti_name = #{xiancunzhuyaowentiName,jdbcType=VARCHAR},
      </if>
      <if test="xiancunzhuyaowentiUrl != null" >
        xiancunzhuyaowenti_url = #{xiancunzhuyaowentiUrl,jdbcType=VARCHAR},
      </if>
      <if test="yongyaoName != null" >
        yongyao_name = #{yongyaoName,jdbcType=VARCHAR},
      </if>
      <if test="yongyaoUrl != null" >
        yongyao_url = #{yongyaoUrl,jdbcType=VARCHAR},
      </if>
      <if test="jiankangpingjiaName != null" >
        jiankangpingjia_name = #{jiankangpingjiaName,jdbcType=VARCHAR},
      </if>
      <if test="jiankangpingjiaUrl != null" >
        jiankangpingjia_url = #{jiankangpingjiaUrl,jdbcType=VARCHAR},
      </if>
      <if test="jiankangzhidaoName != null" >
        jiankangzhidao_name = #{jiankangzhidaoName,jdbcType=VARCHAR},
      </if>
      <if test="jiankangzhidaoUrl != null" >
        jiankangzhidao_url = #{jiankangzhidaoUrl,jdbcType=VARCHAR},
      </if>
      <if test="jieguofankuiName != null" >
        jieguofankui_name = #{jieguofankuiName,jdbcType=VARCHAR},
      </if>
      <if test="jieguofankuiUrl != null" >
        jieguofankui_url = #{jieguofankuiUrl,jdbcType=VARCHAR},
      </if>
      <if test="shenghuajianName != null" >
        shenghuajian_name = #{shenghuajianName,jdbcType=VARCHAR},
      </if>
      <if test="shenghuajianUrl != null" >
        shenghuajian_url = #{shenghuajianUrl,jdbcType=VARCHAR},
      </if>
      <if test="shenghuashenName != null" >
        shenghuashen_name = #{shenghuashenName,jdbcType=VARCHAR},
      </if>
      <if test="shenghuashenUrl != null" >
        shenghuashen_url = #{shenghuashenUrl,jdbcType=VARCHAR},
      </if>
      <if test="changguijianName != null" >
        changguijian_name = #{changguijianName,jdbcType=VARCHAR},
      </if>
      <if test="changguijianUrl != null" >
        changguijian_url = #{changguijianUrl,jdbcType=VARCHAR},
      </if>
      <if test="changguishenName != null" >
        changguishen_name = #{changguishenName,jdbcType=VARCHAR},
      </if>
      <if test="changguishenUrl != null" >
        changguishen_url = #{changguishenUrl,jdbcType=VARCHAR},
      </if>
      <if test="nianjianName != null" >
        nianjian_name = #{nianjianName,jdbcType=VARCHAR},
      </if>
      <if test="niaojianUrl != null" >
        niaojian_url = #{niaojianUrl,jdbcType=VARCHAR},
      </if>
      <if test="niaoshenName != null" >
        niaoshen_name = #{niaoshenName,jdbcType=VARCHAR},
      </if>
      <if test="niaoshenUrl != null" >
        niaoshen_url = #{niaoshenUrl,jdbcType=VARCHAR},
      </if>
      <if test="xdtqmName != null" >
        xdtqm_name = #{xdtqmName,jdbcType=VARCHAR},
      </if>
      <if test="xdtqmUrl != null" >
        xdtqm_url = #{xdtqmUrl,jdbcType=VARCHAR},
      </if>
      <if test="bchaoqmName != null" >
        bchaoqm_name = #{bchaoqmName,jdbcType=VARCHAR},
      </if>
      <if test="bchaoqmUrl != null" >
        bchaoqm_url = #{bchaoqmUrl,jdbcType=VARCHAR},
      </if>
      <if test="zilinengliName != null" >
        zilinengli_name = #{zilinengliName,jdbcType=VARCHAR},
      </if>
      <if test="zilinengliUrl != null" >
        zilinengli_url = #{zilinengliUrl,jdbcType=VARCHAR},
      </if>
      <if test="zhongyitizhiName != null" >
        zhongyitizhi_name = #{zhongyitizhiName,jdbcType=VARCHAR},
      </if>
      <if test="zhongyitizhiUrl != null" >
        zhongyitizhi_url = #{zhongyitizhiUrl,jdbcType=VARCHAR},
      </if>
      <if test="diyanshanshiName != null" >
        diyanshanshi_name = #{diyanshanshiName,jdbcType=VARCHAR},
      </if>
      <if test="diyanshanshiUrl != null" >
        diyanshanshi_url = #{diyanshanshiUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where org_id = #{orgId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ky.common.bean.OrgSignBean" >
    update gw_danganyishengqianming
    set name = #{name,jdbcType=VARCHAR},
      zrys = #{zrys,jdbcType=VARCHAR},
      zhengzhuang_name = #{zhengzhuangName,jdbcType=VARCHAR},
      zhengzhuang_url = #{zhengzhuangUrl,jdbcType=VARCHAR},
      yibanzhuangkuang_name = #{yibanzhuangkuangName,jdbcType=VARCHAR},
      yibanzhuangkuang_url = #{yibanzhuangkuangUrl,jdbcType=VARCHAR},
      shenghuofangshi_name = #{shenghuofangshiName,jdbcType=VARCHAR},
      shenghuofangshi_url = #{shenghuofangshiUrl,jdbcType=VARCHAR},
      zangqigongneng_name = #{zangqigongnengName,jdbcType=VARCHAR},
      zangqigongneng_url = #{zangqigongnengUrl,jdbcType=VARCHAR},
      chati_name = #{chatiName,jdbcType=VARCHAR},
      chati_url = #{chatiUrl,jdbcType=VARCHAR},
      fuzhujiancha1_name = #{fuzhujiancha1Name,jdbcType=VARCHAR},
      fuzhujiancha1_url = #{fuzhujiancha1Url,jdbcType=VARCHAR},
      fuzhujiancha2_name = #{fuzhujiancha2Name,jdbcType=VARCHAR},
      fuzhujiancha2_url = #{fuzhujiancha2Url,jdbcType=VARCHAR},
      xiancunzhuyaowenti_name = #{xiancunzhuyaowentiName,jdbcType=VARCHAR},
      xiancunzhuyaowenti_url = #{xiancunzhuyaowentiUrl,jdbcType=VARCHAR},
      yongyao_name = #{yongyaoName,jdbcType=VARCHAR},
      yongyao_url = #{yongyaoUrl,jdbcType=VARCHAR},
      jiankangpingjia_name = #{jiankangpingjiaName,jdbcType=VARCHAR},
      jiankangpingjia_url = #{jiankangpingjiaUrl,jdbcType=VARCHAR},
      jiankangzhidao_name = #{jiankangzhidaoName,jdbcType=VARCHAR},
      jiankangzhidao_url = #{jiankangzhidaoUrl,jdbcType=VARCHAR},
      jieguofankui_name = #{jieguofankuiName,jdbcType=VARCHAR},
      jieguofankui_url = #{jieguofankuiUrl,jdbcType=VARCHAR},
      shenghuajian_name = #{shenghuajianName,jdbcType=VARCHAR},
      shenghuajian_url = #{shenghuajianUrl,jdbcType=VARCHAR},
      shenghuashen_name = #{shenghuashenName,jdbcType=VARCHAR},
      shenghuashen_url = #{shenghuashenUrl,jdbcType=VARCHAR},
      changguijian_name = #{changguijianName,jdbcType=VARCHAR},
      changguijian_url = #{changguijianUrl,jdbcType=VARCHAR},
      changguishen_name = #{changguishenName,jdbcType=VARCHAR},
      changguishen_url = #{changguishenUrl,jdbcType=VARCHAR},
      nianjian_name = #{nianjianName,jdbcType=VARCHAR},
      niaojian_url = #{niaojianUrl,jdbcType=VARCHAR},
      niaoshen_name = #{niaoshenName,jdbcType=VARCHAR},
      niaoshen_url = #{niaoshenUrl,jdbcType=VARCHAR},
      xdtqm_name = #{xdtqmName,jdbcType=VARCHAR},
      xdtqm_url = #{xdtqmUrl,jdbcType=VARCHAR},
      bchaoqm_name = #{bchaoqmName,jdbcType=VARCHAR},
      bchaoqm_url = #{bchaoqmUrl,jdbcType=VARCHAR},
      zilinengli_name = #{zilinengliName,jdbcType=VARCHAR},
      zilinengli_url = #{zilinengliUrl,jdbcType=VARCHAR},
      zhongyitizhi_name = #{zhongyitizhiName,jdbcType=VARCHAR},
      zhongyitizhi_url = #{zhongyitizhiUrl,jdbcType=VARCHAR},
      diyanshanshi_name = #{diyanshanshiName,jdbcType=VARCHAR},
      diyanshanshi_url = #{diyanshanshiUrl,jdbcType=VARCHAR}
    where org_id = #{orgId,jdbcType=VARCHAR}
  </update>
</mapper>