<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ky.common.dao.WdMbMedicineDao" >
  <resultMap id="BaseResultMap" type="com.ky.common.bean.WdMbMedicine" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="fol_type" property="folType" jdbcType="VARCHAR" />
    <result column="medi_style" property="mediStyle" jdbcType="VARCHAR" />
    <result column="filedid" property="filedid" jdbcType="VARCHAR" />
    <result column="sfz" property="sfz" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="time_unit" property="timeUnit" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="VARCHAR" />
    <result column="amount_unit" property="amountUnit" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fol_type, medi_style, filedid, sfz, name, time_unit, time, amount, amount_unit
  </sql>
  <!--根据条件获取用药队列-->
  <select id="getMedListByParam" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from wd_mb_medicine
    where filedid = #{sfId,jdbcType=VARCHAR}
    and fol_type = #{folType,jdbcType=VARCHAR}
    and medi_style = #{medType,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from wd_mb_medicine
    where id = #{id,jdbcType=VARCHAR}

  </select>
  <!--依据随访Id号删除随访记录-->
  <delete id="deleteByMedBySfIdT" parameterType="java.lang.String" >
    delete from wd_mb_medicine
    where filedid = #{sfId,jdbcType=VARCHAR}
    and fol_type = #{folType,jdbcType=VARCHAR}
    and medi_style = #{medType,jdbcType=VARCHAR}
  </delete>
  <!--依据随访Id号删除随访记录-->
  <delete id="deleteByMedBySfId" parameterType="java.lang.String" >
    delete from wd_mb_medicine
    where filedid = #{sfId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from wd_mb_medicine
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ky.common.bean.WdMbMedicine" >
    insert into wd_mb_medicine (id, fol_type, medi_style, 
      filedid, sfz, name, 
      time_unit, time, amount, 
      amount_unit)
    values (#{id,jdbcType=VARCHAR}, #{folType,jdbcType=VARCHAR}, #{mediStyle,jdbcType=VARCHAR}, 
      #{filedid,jdbcType=VARCHAR}, #{sfz,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{timeUnit,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, #{amount,jdbcType=VARCHAR}, 
      #{amountUnit,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ky.common.bean.WdMbMedicine" >
    insert into wd_mb_medicine
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="folType != null" >
        fol_type,
      </if>
      <if test="mediStyle != null" >
        medi_style,
      </if>
      <if test="filedid != null" >
        filedid,
      </if>
      <if test="sfz != null" >
        sfz,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="timeUnit != null" >
        time_unit,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="amountUnit != null" >
        amount_unit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="folType != null" >
        #{folType,jdbcType=VARCHAR},
      </if>
      <if test="mediStyle != null" >
        #{mediStyle,jdbcType=VARCHAR},
      </if>
      <if test="filedid != null" >
        #{filedid,jdbcType=VARCHAR},
      </if>
      <if test="sfz != null" >
        #{sfz,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="timeUnit != null" >
        #{timeUnit,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=VARCHAR},
      </if>
      <if test="amountUnit != null" >
        #{amountUnit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ky.common.bean.WdMbMedicine" >
    update wd_mb_medicine
    <set >
      <if test="folType != null" >
        fol_type = #{folType,jdbcType=VARCHAR},
      </if>
      <if test="mediStyle != null" >
        medi_style = #{mediStyle,jdbcType=VARCHAR},
      </if>
      <if test="filedid != null" >
        filedid = #{filedid,jdbcType=VARCHAR},
      </if>
      <if test="sfz != null" >
        sfz = #{sfz,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="timeUnit != null" >
        time_unit = #{timeUnit,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=VARCHAR},
      </if>
      <if test="amountUnit != null" >
        amount_unit = #{amountUnit,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ky.common.bean.WdMbMedicine" >
    update wd_mb_medicine
    set fol_type = #{folType,jdbcType=VARCHAR},
      medi_style = #{mediStyle,jdbcType=VARCHAR},
      filedid = #{filedid,jdbcType=VARCHAR},
      sfz = #{sfz,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      time_unit = #{timeUnit,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=VARCHAR},
      amount_unit = #{amountUnit,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>